@import url("https://fonts.googleapis.com/css?family=Righteous");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #000;
  font-family: 'Righteous', cursive; }

.sliderBg {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .slider_item {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: 1s;
    top: 0;
    left: 0; }
    .slider_item::after {
      background-image: radial-gradient(ellipse at center, #2F2F2F, #020318);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      opacity: 0.75; }
    .slider_item img {
      width: 100%;
      height: 100vh; }

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 44px; }

.h3con {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  line-height: 44px; }

.faq_p-span {
  font-size: 20px;
  color: #fff; }

.faq_con {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  line-height: 44px; }
  .faq_con-item {
    margin-bottom: 50px; }
  .faq_con-item_1 {
    margin-bottom: 50px; }
  .faq_con .faq_p {
    color: #fff;
    opacity: 0.65; }

.faq_vh {
  padding: 100px 32px 130px;
  max-width: 1200px;
  margin: 0 auto; }

.faq_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start; }

.faq_con_h3 {
  color: #ffcb05;
  margin-bottom: 45px; }

.first_h3 {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 3px 3px 6px black;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px; }

h3 {
  color: #fff;
  font-weight: 400;
  font-size: 35px;
  text-shadow: 3px 3px 6px black; }

h4 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-shadow: 3px 3px 6px black;
  margin-bottom: 40px;
  letter-spacing: 2px; }

.secondbtn {
  background-color: #ffcb05;
  color: #000;
  padding: 15px 35px 13px 35px;
  font-size: 18px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  letter-spacing: 5px;
  transition: 0.3s;
  cursor: pointer;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }
  .secondbtn:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 203, 5, 0.75);
    transition: 0.3s; }

.slider_item.active {
  opacity: 1; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #24252a; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #545454; }

::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px; }

::-webkit-scrollbar {
  width: 10px; }

.btn {
  width: 200px;
  margin: 40px 0; }

.a_btn {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  color: #ffcb05;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  text-shadow: 3px 3px 6px black; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

svg rect {
  fill: transparent;
  stroke: #ffcb05;
  stroke-width: 5px;
  stroke-dasharray: 10px 180px 20px 50px 20px 180px 20px 50px;
  width: 100%;
  height: 100%;
  transition: .5s all; }

.a_btn:hover rect {
  stroke-dasharray: 200px 0 70px 0 200px 0 70px 0; }

.footer {
  width: 100%;
  height: 15vh;
  background-color: #1a1a1a; }
  .footer_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%; }
    .footer_item_section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 87px; }
      .footer_item_section_img {
        margin-right: 35px; }
    .footer_item .external-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 87px; }
      .footer_item .external-links img {
        width: 30px;
        opacity: 0.5; }
        .footer_item .external-links img:hover {
          opacity: 0.9; }
    .footer_item_block {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .footer_item_block_p {
        font-size: 10px;
        color: #657792; }
      .footer_item_block_img {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px; }
        .footer_item_block_img img {
          margin-right: 10px; }

.mapname {
  float: right;
  background-color: #ffcb05;
  color: #000;
  outline: none;
  letter-spacing: 1px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 6px 8px; }

@media only screen and (max-width: 768px) {
  .sliderBg {
    height: 100%; }
  .slider {
    height: 100%; }
    .slider_item {
      height: 100%; }
      .slider_item img {
        height: 100%;
        object-fit: cover;
        object-position: center; }
  .slider_item::after {
    height: 100%; }
  .h3con {
    width: 100%;
    align-items: center;
    padding: 640px 0; }
  .h3con h3 {
    text-align: center;
    max-width: 705px; }
  .first-container {
    width: 100%; }
  .first_h3 {
    text-align: center; }
  .footer_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .footer_item .external-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 20px; }
    .footer_item_section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0;
      width: 90%; }
  .faq_vh {
    padding: 130px 9px 130px; }
  .faq_con {
    line-height: 35px;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 10px; }
    .faq_con_h3 {
      padding-left: 10px; }
  .faq_container {
    width: 100;
    display: flex;
    flex-direction: column; } }
