@import "reset.scss";
@import "_variables.scss";

body {
    background-image: url(../image/backg.jpg);
}

.dashboard-header {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0 0;


    &-text {
        display: flex;
        align-items: center;
        padding-right: 10px;

        &__a {
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 11px;
        }
    }

    &__h1 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;

    }

    &-menu {



        &__ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            &__li {
                margin-right: 35px;


                &__a {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

        }
    }

}

.submenu {

    width: 100%;




    &__ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 51px 0 65px 0;

        &__li {

            padding: 0 111px 14px 111px;
            border-bottom: 1px solid #64616b;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            cursor: pointer;
            position: relative;
            width: 33%;

            &:hover {
                border-bottom: 1px solid #f7cbc8;
                transition: 0.3s;
            }


            &__a {
                color: #f7cbc8;
                font-size: 14px;
                font-weight: 400;
            }

        }
    }

}

.Rectangle {
    width: calc(100% - 38px);
    padding: 34px 0 57px 36px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    background-color: #1e1c24;
    display: none;
    flex-direction: column;
    align-items: flex-start;

    &__form {
        display: flex;
        flex-direction: column;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        width: 26%;
        

        &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 30px;
        width: 100%;
        border-radius: 10px;
        background-color: $red-light;
        margin-right: 25px;
        transition: 0.5s;
        cursor: pointer;

        &__p {
            color: $black;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        &__h2 {
            color: $dark-gray;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &__span {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
        }
        }
    }

    &__h1 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    &__label {
        padding-bottom: 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
    }

    &__input {
        width: calc(425px - 20px);
        padding: 11px 0 10px 20px;
        background-color: #64616b;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        border: none;
        margin-bottom: 35px;
        outline: none;

        &::placeholder {
            color: white;
        }

    }

    &__p {
        color: #64616b;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 35px;

                    &_span {
                color: #fff;
                padding-left: 3px;
                font-weight: 600;
            }
    }

    &__button {
        padding: 13px 44px 12px 44px;
        width: calc(425px - 0px);
        background-color: $red-light;
        border: none;
        cursor: pointer;
        color: #454d57;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        outline: none;
    }

}

.portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 51px;


    &-table {
        padding: 50px 21px 35px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1c24;

        &__button {
            padding: 9px 72px 9px 72px;
            width: calc(100% - 144px);
            margin-top: 35px;
        }


        &-text {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;

            &__p {
                color: $white;
                font-size: 14px;
                font-weight: 400;
                margin-right: 19px;
            }
        }

        &-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            padding: 0 20px 0 0;
            height: 577px;



            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 4px 15px 4px 10px;
                background-color: $dark;
                margin-bottom: 15px;
                width: calc(313px - 25px);

                &:hover {
                    background-color: $black;
                }

                &__span {
                    display: inline-block;
                    width: 26.06px;
                }
            }
        }
    }

    &-strategy {
        padding: 68px 28px 36px 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1c24;
        position: relative;

        &__button {
            color: $red-light;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 900;
            background-color: transparent;
            border: 1px solid $red-light;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 9px 55px 9px 54px;
        }

        &-inputs {
            padding: 68px 36px 145px 16px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;
            display: flex;
            flex-direction: column;
            width: calc(100% - 52px);
            position: relative;
            margin-bottom: 65px;

            &-to {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 35px;

                &__p {
                    color: $black;
                    font-size: 14px;
                    font-weight: 400;
                }

                &__input {
                    padding: 13px 10px 12px 10px;
                    width: calc(70px - 20px);
                    height: calc(35px - 25px);
                    background-color: $black;
                    border: none;
                    outline: none;
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;

                    &::placeholder {
                        text-align: center;
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            &-min {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 35px;

                &__input {
                    padding: 13px 10px 12px 10px;
                    width: calc(70px - 20px);
                    height: calc(35px - 25px);
                    background-color: $black;
                    border: none;
                    outline: none;
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;

                    &::placeholder {
                        text-align: center;
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                &__p {
                    color: $black;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            &-max {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &__input {
                    padding: 13px 10px 12px 10px;
                    width: calc(70px - 20px);
                    height: calc(35px - 25px);
                    background-color: $black;
                    border: none;
                    outline: none;
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;

                    &::placeholder {
                        text-align: center;
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                &__p {
                    color: $black;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }


        &-buttons {
            padding: 68px 48px 35px 48px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;
            position: relative;


            &__button {
                color: $red-light;
                outline: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 900;
                background-color: transparent;
                border: 1px solid $red-light;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 178px;
                height: 35px;
                margin-bottom: 15px;
            }
        }


        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            &__button {
                color: $red-light;
                outline: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 900;
                background-color: transparent;
                border: 1px solid $red-light;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 178px;
                height: 35px;
                margin-bottom: 15px;
            }

            &-calc {
                background-color: $dark;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 4px 15px 3px 10px;
                width: calc(313px - 25px);
                margin-top: 35px;
                margin-bottom: 360px;

                &-value {
                    display: flex;
                    flex-direction: row;

                    &__p {
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-right: 31px;
                    }

                    &-buttons {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &-item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            margin-bottom: 3px;
                        }
                    }
                }

                &__span {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                }

                &__p {
                    color: $red-light;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;
            position: relative;
            padding: 65px 22px 35px 23px;
            margin-bottom: 64px;

            &-dates {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 24px 35px 24px;
                width: calc(100% - 48px);

                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &__p {
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 14px;
                    }

                    &-db {
                        width: 63px;
                        height: 33px;
                        border: 1px solid $red-light;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &__p {
                            color: $red-light;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            &-progress {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 148px;
                height: 148px;
                border: 1px solid $black;
                background-color: transparent;
                border-radius: 50%;
                margin-bottom: 35px;

                &-item {
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    border: 20px solid $red-light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: transparent;

                    &__p {
                        color: #f7cbc7;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    &__span {
                        color: #f7cbc7;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            &__span {
                color: $black;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 35px;
            }

            &__textarea {


                &::placeholder {
                    color: $white;
                }
            }
        }

        &-save {
            padding: 59px 96px 36px 96px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;

            &__button {
                padding: 9px 72px;
            }

        }
    }
}

.trades {
    padding-top: 51px;
    width: 100%;

    &__table {
        width: 100%;


        &_thead {
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;

            width: 100%;


            &_tr {

                width: calc(100% - 15px);

                &_td {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 12px 0 12px 15px;

                    &:first-child {
                        padding-right: 50px;
                    }

                    &_img {
                        padding-left: 9px;
                    }
                }
            }
        }

        &_tbody {
            margin: 12px 26px 12px 15px;
            width: calc(100% - 41px);

            background-color: transparent;

            &_tr {

                width: 100%;
                margin-bottom: 18px;

                &_td {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 12px 0 12px 15px;

                    &:first-child {
                        padding-right: 50px;
                    }

                    &_img {
                        padding-left: 9px;
                    }
                }
            }
        }
    }
}

.utilities {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    &-item {
        width: calc(466px - 30px);
        padding: 15px 15px 20px 15px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1c24;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        &:last-child {
            padding: 15px 15px 136px 15px;
        }

        &__a {
            font-size: 14px;
            font-weight: 400;
            color: $red-light;
            text-decoration: none;
            margin-top: 2px;
        }

        &__input {
            background-color: $black;
            width: 142px;
            padding: 7px 10px 8px 10px;
            border: none;
            outline: none;
            margin-bottom: 15px;
            color: $white;

            &::placeholder {
                color: $white;
            }
        }

        &__button {
            width: 162px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: none !important;

            &__span {
                color: $gray;
                font-size: 14px;
                font-weight: 900;
            }
        }

        &__h1 {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 35px;
        }

        &__p {
            color: $black;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 35px;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 15px;

            &-item {
                display: flex;
                flex-direction: column;

                &__p {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }

                &__input {
                    background-color: $black;
                    width: 142px;
                    padding: 7px 10px 8px 10px;
                    border: none;
                    outline: none;
                    margin-bottom: 15px;
                    color: $white;

                    &::placeholder {
                        color: $white;
                    }
                }

                &__button {
                    width: 162px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: none !important;

                    &__span {
                        color: $gray;
                        font-size: 14px;
                        font-weight: 900;
                    }
                }
            }
        }

        &-blz {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 64px;

            .selectcoins_items {
                position: absolute;
                background-color: #1e1d25;
                border: 1px solid #f7cbc8;
                width: 100%;
                left: 0;
                top: 30px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                z-index: 2;

                &_item {
                    padding: 10px 0;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        background-color: #f7cbc8;
                        color: #0d0d0d;
                    }
                }
            }


            &-item {
                display: flex;
                flex-direction: column;
                position: relative;

                &:last-child {
                    padding-right: 35px;
                }

                &__p {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }

                &__input {
                    background-color: $black;
                    width: 142px;
                    padding: 7px 10px 8px 10px;
                    border: none;
                    outline: none;
                    margin-bottom: 15px;
                    color: $white;
                    cursor: pointer;

                    &::placeholder {
                        color: $white;
                    }
                }

                &-buttons {
                    display: flex;
                    justify-content: flex-start;
                    max-width: 140px;
                    flex-wrap: wrap;

                    &__button {
                        width: 55px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: none !important;

                        &:hover {
                            background-color: $red-light !important;
                        }

                        &:nth-child(odd) {
                            margin-right: 15px;
                            margin-bottom: 10px;
                        }

                        &__span {
                            color: $gray;
                            font-size: 14px;
                            font-weight: 900;
                            padding-right: 11px;
                        }

                        &__img {
                            padding-bottom: 1px;
                        }
                    }
                }

            }
        }
    }
}

.ha {
    height: auto;
}

.addp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 138px;
    flex-wrap: wrap;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0 0 0;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1c24;
        margin-right: 30px;

        &__h1 {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        &__p {
            color: $black;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 25px;
            text-align: center;
        }

        &__span {
            color: $black;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 35px;
        }

        &__button {
            width: 178px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &__span {
                color: $gray;
                font-size: 14px;
                font-weight: 900;
                text-transform: none;
            }
        }
    }
}

.plan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 138px;
    flex-wrap: wrap;


    &__button {
        background-color: transparent;
        border: none;
        outline: none;
        color: $red-light;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }

    &-item {
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1c24;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 0 0 0;
        margin-bottom: 20px;
        margin-right: 14px;

        &__h1 {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 31px;
        }

        &__p {
            color: $black;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 35px;
        }

        &__button {
            width: 178px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;

            &__span {
                color: $gray;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        &-progress {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 148px;
            height: 148px;
            border: 1px solid $black;
            background-color: transparent;
            border-radius: 50%;
            margin-bottom: 15px;

            &-item {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                border: 20px solid $red-light;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: transparent;

                &__p {
                    color: #f7cbc7;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                &__span {
                    color: #f7cbc7;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

.panel {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 138px;
    flex-direction: row;

    &-fitem {
        display: flex;
        flex-direction: column;


        &-value {
            padding: 15px 30px 35px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 65px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;

            &__h1 {
                color: $white;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 35px;
            }

            &__p {
                color: $white;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 35px;

                &__span {
                    color: #9ecf97;
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            &-dates {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &__p {
                        color: #ededf3;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    &__span {
                        color: #9ecf97;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }

        &-comp {
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;
            padding: 15px 37px 35px 37px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__h1 {
                color: $white;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 46px;
            }

            &-links {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 35px;

                &-item {
                    padding: 0 8px 15px 8px;
                    border-bottom: 1px solid $black;
                    transition: 0.4s;

                    &__p {
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            &-progress {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 198px;
                border: 1px solid $black;
                background-color: transparent;
                border-radius: 50%;
                margin-bottom: 35px;

                &-item {
                    width: 115px;
                    height: 115px;
                    border-radius: 50%;
                    border: 25px solid $red-light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background-color: transparent;

                    &__p {
                        color: #f7cbc7;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    &__span {
                        color: #f7cbc7;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            &__button {
                width: 178px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;

                &__span {
                    color: $gray;
                    font-size: 14px;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-sitem {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        &-graph {
            padding: 15px 35px 25px 16px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            background-color: #1e1c24;
            display: flex;
            flex-direction: column;
            margin-bottom: 26px;

            &-text {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                &__h1 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 700;
                }

                &-p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &__p {
                        color: $black;
                        font-size: 14px;
                        font-weight: 400;
                        margin-right: 15px;


                    }
                }
            }

            &-item {
                width: 763px;
                position: relative;
                margin-left: 37px;
                margin-top: 21px;
            }
        }

        &-actions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-item {
                width: calc(100% - 55px);
                padding: 12px 20px 35px 34px;
                box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
                background-color: #1e1c24;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 15px;

                &__h1 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 35px;

                }

                &__h3 {
                    color: $white;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 35px;
                    width: 100%;
                }

                &__p {
                    color: $black;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 12px;
                    width: 100%;
                    line-height: 1.3;

                    &__span {
                        color: $red-light;
                        font-size: 14px;
                        font-weight: 400;
                        padding-left: 3px;
                    }
                }

                &__h4 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 15px;
                    width: 100%;
                }

                &__button {
                    width: 178px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__span {
                        color: $gray;
                        font-size: 14px;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.datat {
    position: relative;
    transition: 0.3s;
}
.datat:hover::after {
    display: flex;
    flex-direction: row;
    align-items: center;
    content: attr(data-title); 
    position: absolute;
    right: -90px; top: 5px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    font-size: 8px;
    width: 60px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}
.modal {
    display: flex !important;
}
.rbtfa {
    background-color: #fff;
}
.rbtsa {
    background-color: #fff;
}
.ihrl {

    &:hover {
        transition: 0.4s;
        border-bottom: 1px solid #f7cbc7;

        .phrl {
            transition: 0.4s;
            color: #f7cbc7;
        }
    }
}

.phrl {
    cursor: pointer;
}

.canvasjs-chart-credit {
    display: none;
}

.panelmb {
    margin-bottom: 57px;
}

.plp {
    margin-bottom: 112px;
}
.rtx {
    margin: 0 12px 10px 12px;
}
.aifs {
    align-items: flex-start;
}

.ump {
    margin-bottom: 104px;
}

.umb {
    margin-bottom: 28px;
}

.cindex {
    flex-direction: row-reverse;
}

.cindexstr {
    padding: 0;
    background-color: transparent;
    box-shadow: none;

}

.pth {
    position: absolute;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    top: 15px;
    left: 16px;
}

.tbw {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tbg {
    color: #9ecf97;
    font-size: 14px;
    font-weight: 400;
}

.tbrl {
    color: $red-light;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: $black;
    height: 25px;
}

button {
    padding: 0;
}

.cindexitem {
    width: calc(313px - 60px);
    padding: 4px 50px 4px 10px;
}

.cindexitem:nth-child(even) {
    .tbg {
        color: $red-light;
    }
}

.cindexitems {
    height: 503px;
    width: calc(100% - 15px);
}

.cindexdbtn {
    padding: 9px 55px 9px 54px;
}

.cindextable {
    padding: 50px 21px 39px 16px;
}

option[selected] {
    background-color: $red-light;
    border: none;
    outline: none;
}

option {
    background-color: $red-light;
    border: none;
    outline: none;
    font-weight: 900;
}
.dfjq {
    display: flex;
}