@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap%27');
@import "reset.scss";
@import "_variables.scss";

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../image/bg.jpg);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrap {

    padding: 35px 96px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    background-color: #1e1d25;



    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__h3 {
            color: #ffffff;

            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 35px;
        }

        &__p {
            color: #454d57;

            font-size: 14px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 61px;
        }

        &-text {
            margin-bottom: 35px;

            &__p {
                color: #454d57;

                font-size: 14px;
                font-weight: 400;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__span {
            color: #454d57;

            font-size: 14px;
            font-weight: 400;
            padding-bottom: 35px;

        }

        &__video {
            width: 370px;
            height: 210px;
            background-color: #0d0d0d;
            margin-bottom: 34px;

        }

        &__button {
            padding: 13px 147px;
            background-color: #f7cbc8;
            color: #454d57;

            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            outline: none;
            border: none;
            cursor: pointer;

        }
    }
}

.panel-coins {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 34px 96px 44px 96px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    background-color: #1e1d25;
    position: relative;

    &-ref {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray;
        border-radius: 6px;
        margin-top: 20px;

        &__p {
            color: $red-light;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        padding: 10px 10px;
        text-shadow: 0px 2px 6px rgba(247, 203, 200, .3);
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 6px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            transition: 0.3s;

            &__img {
                width: 20px;
            }
        }
    }


    &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__p {
        padding: 31px 0;
    }

    &__h1 {
        color: #ededf3;
        font-family: "Roboto";
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 24px;
    }


    &__balance {
        color: #454d57;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 34px;
        display: flex;
        justify-content: center;
    }

    &__button_left {
        padding: 11px 36px 10px 36px;
        color: #454d57;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: #f7cbc8;
        cursor: pointer;
        margin-right: 15px;
        text-transform: uppercase;
        outline: none;
        border: none;

    }

    &__button_right {
        padding: 11px 17px 10px 18px;
        color: #454d57;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: #f7cbc8;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        border: none;


    }
}




.aside-wrap {
    padding: 34px 38px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    background-color: #1e1d25;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;


    &__p {
        padding: 31px 0;
    }

    &__h1 {
        color: #ededf3;
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 24px;

    }


    &__balance {
        width: 70%;
        color: #454d57;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 0 0 34px 0;


    }

    &__button {
        padding: 13px 157px 12px 156px;
        color: #454d57;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: #f7cbc8;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        border: none;

    }

}

.login {

    &-wrap {
        padding: 35px 97px;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1d25;

        &__h3 {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        &__p {
            color: #f7cbc7;
            font-size: 14px;
            font-weight: 400;
        }

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
            margin-top: 35px;

            &__p {
                color: $gray;
                font-size: 14px;
                font-weight: 400;
            }

            &__input {
                border-bottom: 2px solid $gray;
                padding: 10px 0;
                width: 100%;
                color: #ededf3;
                font-size: 14px;
                font-weight: 400;
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-left: none;
                outline: none;
                margin-bottom: 25px;

                &::placeholder {
                    color: #ededf3;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        &__button {
            width: 100%;
            padding: 13px 0 12px 0;
            margin-bottom: 15px;
        }
    }
}

.signup {

    &-wrap {
        padding: 35px 97px;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1d25;

        &__h3 {
            color: $white;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        &__p {
            color: #f7cbc7;
            font-size: 14px;
            font-weight: 400;
        }

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
            margin-top: 35px;

            &__p {
                color: $gray;
                font-size: 14px;
                font-weight: 400;
            }

            &__input {
                border-bottom: 2px solid $gray;
                padding: 10px 0;
                width: 100%;
                color: #ededf3;
                font-size: 14px;
                font-weight: 400;
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-left: none;
                outline: none;
                margin-bottom: 25px;

                &::placeholder {
                    color: #ededf3;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        &__button {
            width: 100%;
            padding: 13px 0 12px 0;
        }
    }
}

.app {
    &-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 35px 0;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        background-color: #1e1d25;

        &__balance {
            padding: 35px 0 34px 0;
            width: 73%;
            text-align: center;
        }

        &__button {
            padding: 13px 158px 12px 158px;
        }
    }
}

.trial {
    position: absolute;
    bottom: 14px;
    visibility: hidden;
    opacity: 0;

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;

        &__p {
            font-size: 14px;
            font-weight: 400;
            color: $red-light;
            text-shadow: 0px 2px 6px rgba(247, 203, 200, .3);
        }
    }
}
.trial-visible {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}
.dashboardTrial {
    position: absolute;
    bottom: -39px;
    visibility: hidden;
    opacity: 0;
    width: 100%;

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;

        &__p {
            font-size: 13px;
            font-weight: 400;
            color: $red-light;
            text-shadow: 0px 2px 6px rgba(247, 203, 200, .3);
        }
    }
}
.dashboardTrial-visible {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.select-each-coins_items {
                position: absolute;
                background-color: #1e1d25;
                border: 1px solid #f7cbc8;
                width: calc(100% - 2px);
                left: 0;
                top: 30px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                z-index: 2;

                &_item {
                    padding: 10px 0;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        background-color: #f7cbc8;
                        color: #0d0d0d;
                    }
                }
            }

.fc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hs {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}

.ps {
    color: #454d57;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}



.btn {
    cursor: pointer;
    outline: none;
    border: none;

    background-color: $red-light;
    color: $dark;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;

    &:hover {
        background-color: $white;
        transition: 0.4s;
    }
}
.aifs {
    align-items: flex-start;
}