.about {
  width: 100%;
  background-image: url(../img/languagebg.png);
  background-size: cover;
  padding: 364px 0 131px 0; }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .about-content__title {
      font-weight: 800;
      font-size: 48px;
      line-height: 58px;
      color: #24126A;
      margin-bottom: 21px; }
    .about-content__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #5D6066; }
    .about-content-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 100px; }
      .about-content-item:nth-child(3) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      .about-content-item__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 52px;
        color: #24126A;
        margin-bottom: 15px; }
      .about-content-item__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #5D6066; }
