@import "_container.scss";
@import "_reset.scss";
@import "_ui.scss";
@import "_variables.scss";
@import url(../fonts/stylesheet.css);
@import "questions.scss";
@import "about.scss";
@import "price.scss";

html {
    font-family: "Proxima Nova";
}

body {
    background-color: #fbfbfb;
}

.header {
    width: 100%;
    padding: 15px 0;
    position: absolute;
    z-index: 3;
    transition: all .3s;

    .row {
        align-items: center;
    }

    .row_header {
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    &-logo {
        padding: 14px 0;
        border-right: 2px solid rgba(0, 0, 0, 0.05);
        margin-right: 56px;

        &_white {
            border-right: 2px solid rgba(255, 255, 255, 0.05);
        }

        img {
            margin-right: 70px;
            transition: all .3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        &_item {
            display: flex;
            align-items: center;
            margin-right: 54px;
            cursor: pointer;
            position: relative;
            transition: all .3s;

            &:hover {
                .header__nav_item__title {
                     transform:  translateY(-2px);
                }
                .dropdown__nav {
                    opacity: 1;
                    visibility: visible;
                }
                .dropdown__nav .nav_menu {
                    transform: translateX(0) translateY(0);
                }
            }

            img {
                width: 10px;
                height: 6px;
            }

            &:last-child {
                margin-right: 0;
            }

            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin-right: 11px;
                transition: all .3s;
                color: #000;

                &_white {
                    color: #ffffff;
                }
            }
        }
    }

    .login_btn {
        width: 164px;
        padding: 20px 0;
        border: 1px solid #352985;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        background-color: transparent;
        color: #352985;
        margin-right: 35px;
        transition: all .3s;

        &:hover {
            border: 1px solid transparent;
            background: #352985;
            color: #fff;
            transform: scale(.95);
        }

        &_white {
            border: 1px solid #ffffff;
            color: #ffffff;

            &:hover {
                background-color: #ffffff;
                color: #352985;
            }
        }


    }

    .signup_btn {
        width: 164px;
        border: 1px solid transparent;
        padding: 20px 0;
        background: #352985;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        transition: all .3s;

        &:hover {
            border: 1px solid #352985;
            background-color: transparent;
            color: #352985;
            transform: scale(.95);
        }

        &_white {
            background-color: #ffffff;
            color: #352985;

            &:hover {
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }


    }
}

.aside {
    width: 100%;
    background-image: url(../img/BG.png);
    background-size: cover;

    &-content {
        padding: 200px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .row {
            align-items: center;
        }

        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__title {
                font-weight: 800;
                font-size: 48px;
                line-height: 58px;
                color: #352985;
                width: calc(100% - 171px);
                margin-bottom: 15px;
            }

            &__subtitle {
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #787D85;
                margin-bottom: 20px;
                width: calc(100% - 286px);
            }
        }

        &__avail {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #352885;
            margin-right: 20px;
        }

        &__download {
            background: #352885;
            box-shadow: 0px 10px 15px rgba(53, 40, 133, 0.08);
            border-radius: 243px;
            width: 72px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            transition: all .3s;

            &:hover {
                transform: scale(.90);
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                max-height: 24px;
                max-width: 24px;
            }
        }
    }
}

.info {
    padding: 50px 0;

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 36px;
            font-weight: 700;
            color: #352985;
            text-align: center;
            width: calc(100% - 634px);
            margin-bottom: 56px;
        }

        &-item {
            display: flex;
            flex-direction: row;
            width: calc(100% - 230px);
            justify-content: space-between;
            align-items: center;
            padding: 0 106px 0 124px;
            position: relative;

            .infonumber {
                right: 420px;
                top: 0;
                position: absolute;
                font-weight: bold;
                font-size: 400px;
                color: #5D6066;
                opacity: 0.05;
            }

            &:nth-child(3) {
                flex-direction: row-reverse;

                .infonumber {
                    right: 0;
                    left: 340px;
                }

                .column {
                    .info-content-item__subtitle {
                        text-align: right;
                    }

                    .info-content-item__title {
                        text-align: right;
                    }
                }
            }

            &__title {
                font-weight: bold;
                font-size: 36px;
                line-height: 44px;
                color: #352985;
                margin-bottom: 15px;
            }

            &__subtitle {
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #5d6066;
            }
        }
    }
}

.features {
    width: 100%;
    background-image: url(../img/fbg.png);
    background-size: 100%;
    background-color: #fff;
    background-repeat: no-repeat;

    &-content {
        width: 100%;
        padding: 375px 0 185px 0;

        .row {
            justify-content: space-between;
        }

        &__title {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #352985;
            margin-bottom: 95px;
        }

        &-item {
            padding: 30px;
            width: calc(338px - 60px);
            height: calc(312px - 60px);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
            border-radius: 25px;
            background-color: #ffffff;

            &__title {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #24126A;
                margin-bottom: 15px;
            }

            &__subtitle {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #5D6066;
            }
        }
    }
}

.download {
    width: 100%;
    background-color: #352985;
    background-image: url(../img/downloadbg.png);
    background-size: 100%;
    background-repeat: no-repeat;

    &-content {
        width: 100%;
        padding: 392px 0 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &__title {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 58px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }

        &__subtitle {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 57px;
        }

        &__download {
            background: #FFFFFF;
            box-shadow: 0px 10px 15px rgba(53, 40, 133, 0.08);
            border-radius: 243px;
            width: 72px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            transition: all .3s;

            &:hover {
                transform: scale(.90);
                box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.08);
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                max-width: 24px;
                max-height: 24px;
            }
        }
    }
}

.footer {
    background-color: transparent;
    background-image: url(../img/footerbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 398px 0 135px 0;

    &_notmain {
        background-image: none;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-logo {

            &__copyright {
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #5D6066;
                margin-top: 17px;
            }

            a img {
                transition: all .3s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 100px;

            &:last-child {
                margin-right: 0;
            }

            &__title {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #242C35;
                margin-bottom: 20px;
            }

            &__link {
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #5D6066;
                text-decoration: none;
                margin-bottom: 14px;
                transition: all .3s;

                &:hover {
                    color: #4d75d8;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }


}

.footer_notmain {
    padding: 50px 0;

}
.scrolled {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.header-logo_scrolled {
    padding: 10px 0;
}
.hamburger_scrolled {
    top: 10px !important;
}
@import "_media.scss";