@import url(../fonts/stylesheet.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-family: 'Manrope';
  padding: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  background-color: rgba(32, 31, 31, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 0px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background-color: #17212b;
  border-radius: 0px; }

::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 10px; }

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.show {
  visibility: visible !important;
  opacity: 1 !important; }

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #e0e0e0 !important;
  opacity: 1 !important;
  margin: 0 15px !important;
  outline: none !important; }

.swiper-pagination {
  bottom: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.swiper-pagination-bullet-active {
  background: url(../img/secondslider-bullet.svg) !important;
  width: 18px !important;
  height: 18px !important;
  opacity: 1 !important; }

.swiper-button-next {
  width: 42px !important;
  height: 42px !important;
  top: auto !important;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 60px !important;
  right: 0 !important;
  outline: none !important;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .swiper-button-next svg path {
    -webkit-transition: stroke .3s;
    -o-transition: stroke .3s;
    transition: stroke .3s;
    stroke: #929da9; }
  .swiper-button-next:hover {
    background-color: #fbcd02; }
    .swiper-button-next:hover svg path {
      stroke: white; }
  .swiper-button-next::after {
    display: none; }

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background-color: #eaeaea; }
  .swiper-button-next.swiper-button-disabled svg path,
  .swiper-button-prev.swiper-button-disabled svg path {
    stroke: #929da9; }

.swiper-button-prev {
  width: 42px !important;
  height: 42px !important;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  right: 47px !important;
  top: auto !important;
  left: auto !important;
  bottom: 60px;
  outline: none !important; }
  .swiper-button-prev svg path {
    -webkit-transition: stroke .3s;
    -o-transition: stroke .3s;
    transition: stroke .3s;
    stroke: #929da9; }
  .swiper-button-prev:hover {
    background-color: #fbcd02; }
    .swiper-button-prev:hover svg path {
      stroke: white; }
  .swiper-button-prev::after {
    display: none; }

html,
body {
  font-family: 'Manrope'; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

ul,
li {
  padding: 0;
  margin: 0;
  margin-bottom: 0 !important;
  height: 100%; }

.main {
  margin-top: 75px; }

.container {
  max-width: 1330px; }

.header {
  background-color: #17212b;
  height: 75px; }

.logo {
  margin-right: 110px; }

.dropmenu {
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 200; }

.adaptive-menu {
  display: none; }

.menu__item {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .menu__item:hover .dropmenu {
    opacity: 1;
    visibility: visible; }
  .menu__item:hover .menu__link svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .menu__item:hover .menu__link {
    color: #fff;
    text-decoration: none; }
  .menu__item:hover .menu__link svg path {
    stroke: #fff; }
  .menu__item:last-child {
    margin-right: 0; }

.menu-drop {
  width: 442px;
  height: auto;
  background: #FFFFFF;
  border: 0.6px solid #F0F0F0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 50px rgba(190, 190, 190, 0.25);
  box-shadow: 0px 4px 50px rgba(190, 190, 190, 0.25);
  padding: 53px;
  position: relative; }
  .menu-drop-links {
    width: 100%;
    padding-left: 40px;
    padding-top: 30px;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .menu-drop-links:hover .menu-drop-item .row:hover:before {
      opacity: 1;
      visibility: visible; }
    .menu-drop-links:hover .row:before {
      opacity: 0;
      visibility: hidden; }
    .menu-drop-links .row:before {
      display: none; }
    .menu-drop-links_block {
      position: static;
      display: block;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .menu-drop-links a {
      padding: 5px 0;
      display: block;
      color: #556dc3;
      opacity: .9;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      font-weight: 500;
      font-size: 14px; }
      .menu-drop-links a:hover {
        opacity: 1;
        text-decoration: none; }
  .menu-drop__arrow {
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .menu-drop-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 40px;
    cursor: pointer; }
    .menu-drop-item .row {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      position: relative; }
    .menu-drop-item .row:before {
      content: '';
      width: 106%;
      height: 92px;
      position: absolute;
      left: -10px;
      top: -10px;
      background-color: #f5f5f5;
      z-index: 0;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      visibility: hidden; }
    .menu-drop-item .row:hover:before {
      visibility: visible;
      opacity: 1; }
    .menu-drop-item:last-child {
      margin-bottom: 0; }
    .menu-drop-item__img {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      background-color: #f4f5f6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      z-index: 2; }
    .menu-drop-item__title {
      color: #17212b;
      font-family: 'Gilroy';
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 10px; }
    .menu-drop-item__subtitle {
      color: #667484;
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: 400;
      line-height: 19px; }

.menu__link {
  color: #c8ced4;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .menu__link:hover {
    color: #fff;
    text-decoration: none; }
    .menu__link:hover svg path {
      stroke: #fff; }
  .menu__link svg {
    margin-left: 14px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 3px; }
  .menu__link path {
    -webkit-transition: stroke .3s;
    -o-transition: stroke .3s;
    transition: stroke .3s; }

.signin {
  color: #e0e6ec;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .signin:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }
    .signin:hover .signin__user svg path {
      stroke: #fff; }
  .signin__user {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #1d2a36;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 20px; }
    .signin__user svg path {
      -webkit-transition: stroke .3s;
      -o-transition: stroke .3s;
      transition: stroke .3s; }

.aside {
  background-color: #fafafa; }
  .aside .bullet-proof {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 200; }
  .aside-block {
    max-width: 1300px;
    width: 100%;
    position: relative;
    margin: 0 auto; }
    .aside-block img {
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .aside-block img:hover {
        -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
        transform: scale(1.09); }
  .aside .slider__img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .aside-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 40%; }
    .aside-text .col {
      padding: 0 !important; }
  .aside-banner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    border: 1px solid #999;
    background-color: transparent;
    font-family: 'Proxima Nova';
    padding: 1px 15px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 19px;
    letter-spacing: .6px;
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-bottom: 20px; }
    .aside-banner:hover {
      color: #f9ca24;
      border: 1px solid #f9ca24; }
  .aside__title {
    color: #17212b;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 20px; }
  .aside__subtitle {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4A5866; }
  .aside__btn {
    width: 309px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFDF54;
    border-radius: 7px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 600;
    font-size: 16px;
    color: #17212B;
    border: none;
    outline: none !important; }
    .aside__btn:hover {
      background: #FBCD02; }
  .aside-slider {
    width: 100%; }
    .aside-slider-item {
      width: 100% !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 75px 0 60px 0; }

.products {
  padding: 83px 0 74px 0; }
  .products .products-wrapper {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .products__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #17212B;
    margin-bottom: 50px; }
  .products-item {
    width: 600px;
    padding-left: 25px;
    height: 182px;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    margin-bottom: 40px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer; }
    .products-item:hover {
      -webkit-box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09);
      box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09); }
    .products-item__title {
      color: #17212b;
      font-size: 24px;
      font-weight: 700;
      line-height: 33px;
      margin-bottom: 15px; }
    .products-item__text {
      font-family: 'Proxima Nova';
      font-weight: 400;
      font-size: 14px;
      line-height: 23.38px; }

.tariffs {
  background-color: #fafafa;
  padding: 56px 0; }
  .tariffs__title {
    color: #17212b;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 40px; }
  .tariffs-wrapper {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .tariffs-item {
    width: 600px;
    height: 202px;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px; }
    .tariffs-item-header {
      padding: 19px 23px 16px 23px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 2px solid #f3f3f3; }
      .tariffs-item-header__title {
        color: #384655;
        font-family: 'Proxima Nova';
        font-size: 18px;
        font-weight: 600; }
      .tariffs-item-header__percent {
        color: #3c5671;
        font-family: 'Gilroy';
        font-size: 18px;
        font-weight: 600; }
    .tariffs-item-methods {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      .tariffs-item-methods__img {
        width: 55px;
        height: 55px;
        background-color: #000000;
        border-radius: 50%;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer; }
      .tariffs-item-methods .visa {
        background-color: #192e67; }
      .tariffs-item-methods .mastercard {
        background-color: #e0e0e0; }
      .tariffs-item-methods .mir {
        background-color: #26a24c; }
      .tariffs-item-methods .halva {
        background-color: #fe4e50; }
      .tariffs-item-methods .apple {
        background-color: #000000; }
      .tariffs-item-methods .sbp {
        width: 158px;
        height: 89px;
        background-color: transparent; }
      .tariffs-item-methods .webmoney {
        background-color: #0069a3; }
      .tariffs-item-methods .wechat {
        background-color: #2ec101; }
      .tariffs-item-methods .yamoney {
        background-color: #ffda4d; }
      .tariffs-item-methods .qiwi {
        background-color: #ff9700; }
      .tariffs-item-methods .sberbank {
        background-color: #007346; }
      .tariffs-item-methods .vtb {
        background-color: #ebebeb; }
      .tariffs-item-methods .brs {
        background-color: #000000; }
      .tariffs-item-methods .alfa {
        background-color: #db342b; }
      .tariffs-item-methods .psb {
        background-color: #ebebeb; }
      .tariffs-item-methods .beeline {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#010101), color-stop(17%, #000000), color-stop(17%, #fed931), color-stop(41%, #fddb33), color-stop(41%, #000000), color-stop(57%, #000000), color-stop(57%, #fed930), color-stop(80%, #ffda33), color-stop(80%, #000000));
        background-image: -webkit-linear-gradient(#010101 0%, #000000 17%, #fed931 17%, #fddb33 41%, #000000 41%, #000000 57%, #fed930 57%, #ffda33 80%, #000000 80%);
        background-image: -o-linear-gradient(#010101 0%, #000000 17%, #fed931 17%, #fddb33 41%, #000000 41%, #000000 57%, #fed930 57%, #ffda33 80%, #000000 80%);
        background-image: linear-gradient(#010101 0%, #000000 17%, #fed931 17%, #fddb33 41%, #000000 41%, #000000 57%, #fed930 57%, #ffda33 80%, #000000 80%); }
      .tariffs-item-methods .tele {
        background-color: #282828; }
      .tariffs-item-methods .megafon {
        background-color: #00965e; }
      .tariffs-item-methods .mts {
        background-color: #df0510; }
      .tariffs-item-methods .yota {
        background-color: #ebebeb; }
      .tariffs-item-methods .euroset {
        background-color: #e0e0e0; }
      .tariffs-item-methods .svaznoy {
        background-color: #4a2786; }
      .tariffs-item-methods .pochta {
        background-color: #0054a4; }
  .tariffs-slider {
    width: 100%;
    height: 484px;
    padding-bottom: 48px !important;
    margin-top: 100px;
    -webkit-box-shadow: 0 4px 30px rgba(249, 249, 249, 0.25);
    box-shadow: 0 4px 30px rgba(249, 249, 249, 0.25);
    border-radius: 5px;
    border: none; }
    .tariffs-slider-item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 0 0 72px;
      position: relative;
      height: calc(100% - 48px);
      background-color: #6a93bc; }
      .tariffs-slider-item__img {
        position: absolute;
        bottom: 0;
        right: 180px; }
      .tariffs-slider-item__title {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        margin-bottom: 20px; }
      .tariffs-slider-item__subtitle {
        color: #ffffff;
        font-family: 'Proxima Nova';
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 70px; }
      .tariffs-slider-item__btn {
        width: 238px;
        height: 65px;
        border-radius: 7px;
        background-color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #17212b;
        font-size: 16px;
        font-weight: 500;
        border: none;
        outline: none !important; }

.pay {
  padding: 81px 0; }
  .pay__title {
    color: #17212b;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 72px; }
  .pay-item {
    width: 431px;
    padding: 0 40px;
    height: 190px;
    border-radius: 7px;
    border: 2px solid #ededed;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .pay-item:hover {
      -webkit-box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09);
      box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09); }
    .pay-item:last-child {
      margin-right: 0; }
    .pay-item__img {
      margin-right: 47px; }
    .pay-item__name {
      font-family: 'TT Commons';
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #ACACAC;
      margin-bottom: 8px; }
    .pay-item__title {
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #17212B;
      margin-bottom: 7px; }
    .pay-item__star {
      width: 14px;
      height: 13px;
      background-image: url(../img/star.svg);
      margin-right: 7px; }
      .pay-item__star_active {
        background-image: url(../img/star_active.svg); }
      .pay-item__star:last-child {
        margin-right: 0; }
    .pay-item__price {
      color: #17212b;
      font-family: 'Gilroy';
      font-size: 24px;
      font-weight: 600;
      margin-right: 20px; }
    .pay-item__buy {
      width: 65px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #FFDF54;
      border-radius: 50px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      border: none;
      outline: none !important; }
      .pay-item__buy:hover {
        background-color: #fbcd02; }

.methods {
  margin-bottom: 120px; }
  .methods-wrapper {
    height: 328px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .methods__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #17212B;
    margin-bottom: 60px; }

.news {
  margin-bottom: 120px; }
  .news__title {
    color: #17212b;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 60px; }
  .news-wrapper {
    padding: 0 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .news-item {
    width: 295px;
    height: 401px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .news-item:hover {
      -webkit-box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09);
      box-shadow: 0 5px 43px 10px rgba(0, 0, 0, 0.09); }
    .news-item .col {
      padding: 28px 34px; }
    .news-item:last-child {
      margin-right: 0px; }
    .news-item__img {
      height: 170px;
      width: 100%;
      border-bottom: 1px solid #f0f0f0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .news-item__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #17212B;
      margin-bottom: 15px; }
    .news-item__time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      color: #526376;
      font-family: 'Proxima Nova';
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 16px; }
      .news-item__time img {
        margin-right: 10px; }
    .news-item__text {
      color: #394756;
      font-family: 'Proxima Nova';
      font-size: 15.3px;
      font-weight: 400;
      line-height: 23.38px; }

.questions {
  margin-bottom: 170px; }
  .questions-info {
    height: 83px;
    padding-left: 27px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .questions-info__line {
      width: 4px;
      height: 100%;
      border-radius: 567px;
      background-color: #99a7db;
      position: absolute;
      left: 0;
      top: 0; }
    .questions-info__title {
      font-family: 'Proxima Nova';
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: #17212B;
      margin-bottom: 8px; }
    .questions-info__subtitle {
      font-family: 'Proxima Nova';
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #394756; }
  .questions-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 50px; }
    .questions-item:last-child {
      margin-right: 0px; }
    .questions-item .col {
      margin-left: 46px;
      padding-left: 0;
      padding-right: 0; }
    .questions-item__btn {
      width: 93px;
      height: 93px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-box-shadow: 0 8px 70px rgba(142, 157, 207, 0.08);
      box-shadow: 0 8px 70px rgba(142, 157, 207, 0.08);
      border-radius: 15px;
      border: 1px solid #ebecec;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      outline: none !important;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .questions-item__btn:hover svg path {
        fill-opacity: 1; }
      .questions-item__btn svg path {
        -webkit-transition: fill .3s;
        -o-transition: fill .3s;
        transition: fill .3s;
        -webkit-transition: fill-opacity .3s;
        -o-transition: fill-opacity .3s;
        transition: fill-opacity .3s; }
      .questions-item__btn svg {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .questions-item__title {
      color: #394756;
      font-size: 18px;
      font-weight: 700;
      line-height: 30.06px;
      margin-bottom: 10px; }
    .questions-item__subtitle {
      color: #667483;
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: 400;
      line-height: 23.38px;
      max-width: 150px; }

.course {
  margin-bottom: 151px; }
  .course__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #17212B; }
  .course-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .course-item .value {
      color: #394756;
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .course-item .value img {
        margin-right: 9px; }
    .course-item .col {
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 60px; }
      .course-item .col:first-child {
        margin-left: 0; }
    .course-item__title {
      font-family: 'Proxima Nova';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #667483;
      margin-bottom: 21px; }
    .course-item__value {
      color: #394756;
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: 400;
      line-height: 25px; }

.footer {
  padding: 40px 0;
  background-color: #17212b; }
  .footer__arrow {
    display: none; }
  .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .footer-item__tel {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      border: none;
      outline: none !important;
      background-color: transparent !important;
      cursor: pointer; }
      .footer-item__tel:hover {
        color: #fff;
        text-decoration: none; }
    .footer-item__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #D9D9D9;
      margin-bottom: 40px;
      margin-top: 10px; }
    .footer-item-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-item-social__link {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        background: #535E69;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 20px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        .footer-item-social__link:hover {
          background: #2B343D; }
        .footer-item-social__link:last-child {
          margin-right: 0; }
    .footer-item__title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 23px;
      padding-left: 15px; }
    .footer-item__link {
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      color: #D9D9D9;
      margin-bottom: 10px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .footer-item__link:hover {
        color: #fff;
        text-decoration: none; }
      .footer-item__link:last-child {
        margin-bottom: 0; }

@media screen and (max-width: 1600px) {
  .header {
    position: -webkit-sticky !important;
    position: sticky !important; }
  .footer-item:first-child {
    padding-left: 15px; }
  .course__title {
    padding-left: 15px; } }

@media screen and (max-width: 1350px) {
  .header .col-xl-10,
  .header .col-xl-2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .news-item {
    margin-right: 0;
    margin-bottom: 40px; }
  .tariffs-slider-item__img {
    right: 100px; }
  .tariffs-wrapper {
    width: 100%; }
  .tariffs-item {
    width: 100%; }
  .products .products-wrapper {
    width: 100%; }
  .products-item {
    width: 100%; }
  .swiper-button-next {
    right: 15px !important; }
  .swiper-button-prev {
    right: 62px !important; } }

@media screen and (max-width: 1200px) {
  .tariffs-item {
    width: 600px; }
  .tariffs-wrapper .col-xl-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .products-item {
    width: 600px; }
  .products-wrapper .col-xl-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .methods__img {
    width: 33.33333%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .methods {
    margin-bottom: 200px; }
    .methods .w-50 {
      width: 100% !important; }
  .questions .w-100 .row {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .aside-slider-item {
    padding-right: 15px;
    padding-left: 45px;
    width: calc(100% - 60px); }
  .questions-item {
    margin-right: 0;
    margin-top: 50px; }
  .course .ml-5 {
    margin-left: 0 !important; }
  .course .col-xl-4 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 40px; }
  .pay-item {
    margin-right: 0;
    margin-bottom: 20px; } }

@media (max-width: 1024px) {
  .tariffs-slider-item__img {
    position: static; }
  .tariffs-slider {
    height: auto;
    margin-top: 0; }
    .tariffs-slider-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px 15px 0 15px; }
      .tariffs-slider-item__img {
        width: 60%;
        margin-top: 40px; }
  .hamburger {
    display: inline-block !important; }
  .header {
    position: -webkit-sticky !important;
    position: sticky !important; }
  .main {
    margin-top: 0; }
  .header nav {
    display: none !important; }
  .header .col-xl-2 {
    display: none !important; }
  .logo {
    margin-right: 0; }
  .header a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
  .header .col-xl-10 {
    width: 100%; }
  .adaptive-menu {
    display: block;
    position: absolute;
    top: 74px;
    left: 0;
    background-color: #17212b;
    width: 100%;
    z-index: 2000;
    padding: 20px 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: auto;
    height: 100vh; }
    .adaptive-menu .x-mobile {
      height: 1200px;
      overflow: auto; }
    .adaptive-menu .menu__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .adaptive-menu .dropmenu {
      position: static;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      visibility: inherit;
      opacity: inherit;
      z-index: 0 !important; }
      .adaptive-menu .dropmenu .menu-drop {
        width: 100%;
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        padding: 10px 20px 30px 20px; }
        .adaptive-menu .dropmenu .menu-drop__arrow {
          display: none; }
        .adaptive-menu .dropmenu .menu-drop-item__title {
          color: #fff; }
        .adaptive-menu .dropmenu .menu-drop-item__subtitle {
          color: #cccccc; }
    .adaptive-menu .signin {
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      padding-left: 30px; }
    .adaptive-menu nav {
      display: block !important; }
      .adaptive-menu nav .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 30px; }
      .adaptive-menu nav .menu__item:nth-child(2) .dropmenu {
        top: 172px; }
      .adaptive-menu nav .menu__item,
      .adaptive-menu nav .menu__link {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 0;
        padding-right: 15px; }
      .adaptive-menu nav .menu__link {
        font-size: 19px; } }

@media screen and (max-width: 600px) {
  .tariffs-slider-item__btn {
    width: 100%; }
  .aside-block {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .aside .aside-text {
    width: calc(100% - 60px);
    padding: 0 30px; }
  .aside .slider__img {
    width: calc(100% - 60px);
    padding: 0 30px; }
  .products-item .col {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .aside-slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .row {
    margin-right: 0px;
    margin-left: 0px; }
  .footer-item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 23px; }
    .footer-item__tel {
      margin-top: 15px; }
    .footer-item__title {
      margin-bottom: 0;
      padding-left: 0; }
    .footer-item__link {
      display: none; }
      .footer-item__link_adaptive {
        display: block; }
        .footer-item__link_adaptive:nth-child(2) {
          margin-top: 23px; }
    .footer-item-social {
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer-item-social__link {
        margin-right: 0; }
  .footer .col-xl-3 {
    padding-left: 15px !important; }
  .footer .row {
    width: 100%; }
  .footer__arrow {
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .footer__arrow_rotate {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .course {
    display: none; }
  .questions {
    margin-bottom: 50px; }
  .questions-item {
    margin-right: 0;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 70px; }
    .questions-item:first-child {
      margin-top: 40px; }
  .questions-item .col {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
  .methods .row {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .methods .row {
    width: 100% !important; }
  .methods__img {
    width: 50%;
    height: 60px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .news {
    margin-top: 400px;
    margin-bottom: 40px; }
  .news-wrapper {
    padding: 0; }
  .tariffs-item {
    width: 100%; }
  .tariffs-wrapper {
    padding: 0; }
  .tariffs-item-methods__img {
    margin-left: 13px;
    margin-top: 20px; }
    .tariffs-item-methods__img:first-child {
      margin-left: 0; }
  .tariffs-item-methods {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .tariffs-item-header {
    padding: 19px 15px 16px 15px; }
  .tariffs-item-methods {
    padding: 0 15px 20px 15px; }
  .tariffs-item {
    height: auto; }
  .products-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 30px 0px; }
    .products-item .col {
      padding-left: 5px;
      padding-right: 5px; }
  .pay-item:first-child {
    display: none; }
  .products .products-wrapper {
    padding: 0; }
  .products-item__title {
    text-align: left; }
  .products-item__text {
    text-align: left; }
  .products__title {
    font-size: 24px;
    margin-bottom: 40px; }
  .methods__title {
    font-size: 24px; }
  .news__title {
    font-size: 24px;
    margin-bottom: 40px; }
  .pay__title {
    font-size: 24px;
    margin-bottom: 40px; }
  .tariffs__title {
    font-size: 24px; }
  .aside__title {
    font-size: 31px;
    line-height: 40px; }
  .tariffs {
    background-color: #fff;
    padding: 40px 0 0 0; }
  .methods__title {
    margin-bottom: 40px; }
  .tariffs-slider {
    border: none; }
  .pay {
    padding: 40px 0; }
  .tariffs-slider-item__title {
    font-size: 24px; }
  .products {
    padding: 40px 0 0 0; }
  .tariffs {
    padding: 0; }
  .aside {
    position: relative; }
  .aside-slider-item {
    padding: 40px 0; }
  .aside__btn {
    width: calc(100% - 60px);
    position: absolute;
    left: 30px;
    bottom: 40px;
    z-index: 2; }
  .aside-slider-item img {
    width: 100%; }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important; }
  .aside__subtitle {
    margin-bottom: 40px; }
  .news-wrapper .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
    .news-item:last-child {
      margin-bottom: 0; }
  .pay-item {
    margin-right: 40px;
    margin-bottom: 20px;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 20px; }
    .pay-item__img {
      margin-right: 0;
      margin-bottom: 20px; } }

@media screen and (max-width: 534px) {
  .pay .col-xl-12 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .pay-item {
    margin-right: 0;
    margin-bottom: 20px;
    width: 86%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 20px; }
    .pay-item__img {
      margin-right: 0;
      margin-bottom: 20px; }
    .pay-item:last-child {
      margin-bottom: 0px; } }

@media screen and (max-width: 360px) {
  .pay-item {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 20px; }
    .pay-item__img {
      margin-right: 0;
      margin-bottom: 20px; }
    .pay-item:last-child {
      margin-bottom: 0px; }
  .aside__btn {
    bottom: 58px; }
  .methods__img {
    width: 40%;
    height: 60px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .methods__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; } }
