@import "../fonts/Proxima Nova/stylesheet.css";
@import "_container.scss";
@import "_reset.scss";
@import "_variables.scss";

.games {
    width: calc(100% - 157px);
    background-image: url(../img/csgo/bg.png);
    background-color: #1f1f1f;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 45px 82px 45px 75px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 764px;
    position: relative;

    &:hover {
        ::-webkit-scrollbar-thumb {
            background-color: #828282;
        }
    }


    &-review {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        &-gameimage {
            width: 253px;
            height: 233px;
            margin-right: 22px;

            &__img {
                width: 100%;
                transition: all .3s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &-text {
            margin-bottom: 34px;

            &__title {
                color: $light-gray;
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 34px;
            }

            &__desc {
                color: $dark-gray;
                font-size: 12px;
                font-weight: 400;
                line-height: 25.41px;
            }
        }

        &-action {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: flex-start;

            &__signup {
                padding: 12px 65px;
                border-radius: 5px;
                background-color: #333333 !important;
                color: $white;
                font-size: 12px;
                font-weight: 600;
                line-height: 26.41px;
                text-transform: uppercase;
                margin-right: 22px;
                transition: all .2s;

                &:hover {
                    filter: brightness(120%);
                }
            }

            &__a {
                color: $gray;
                font-size: 12px;
                font-weight: 600;
                line-height: 26.41px;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                &_active {
                    color: $orange;
                    position: relative;

                    &_img {
                        position: absolute;
                        bottom: -12px;
                        left: -35%;
                    }
                }
            }
        }
    }

    &-tours {
        padding: 40px 0 45px 0;
        width: 100%;

        &__title {
            color: $light-gray;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 45px;
        }

        &-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            &-filter {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &__title {
                    color: $light-gray;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                &__input {
                    width: 226px;
                    border-radius: 5px;
                    border: 1px solid #1f1f1f;
                    background-color: #1b1b1b;
                    outline: none;
                    color: $light-gray;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 19px 10px 14px 10px;
                    margin-bottom: 5px;

                    &::placeholder {
                        color: $light-gray;
                    }
                }

                &__sort {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(226px - 26px);
                    border-radius: 5px;
                    border: 1px solid #1f1f1f;
                    background-color: #1b1b1b;
                    outline: none;
                    color: $light-gray;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 16px 14px 16px 10px;
                    margin-bottom: 5px;
                    position: relative;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        transition: 0.3s;

                        .dropmenu_sort {
                            visibility: visible;
                            opacity: 1;
                            transition: 0.3s;
                        }

                        .sortbtn {
                            transform: rotate(180deg);
                            transition: 0.3s;
                        }
                    }

                    .sortbtn {
                        padding: 0;
                        transition: 0.3s;
                    }
                }

                &__btn {
                    border-radius: 5px;
                    background-color: #1b1b1b;
                    padding: 18px 77px 17px 77px;
                    color: $light-gray;
                    font-size: 12px;
                    font-weight: 600;
                    white-space: nowrap;
                    transition: all .3s;

                    &:hover {
                        background-color: #272727;
                    }
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                margin-left: 30px;

                &__title {
                    color: $light-gray;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                &-item {
                    border-radius: 5px;
                    background-color: #1e1e1e;
                    padding: 0 22px 0 0;
                    width: calc(100% - 22px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    overflow: hidden;
                    margin-bottom: 8px;
                    transition: all .1s;

                    &:hover {
                        background: radial-gradient(ellipse at center, rgba(72, 72, 72, .2), rgba(59, 59, 59, .2));
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &-text {
                        padding: 20px 0;
                        margin-left: 14px;

                        &__tourname {
                            color: $gray;
                            font-size: 15px;
                            font-weight: 600;
                            margin-bottom: 15px;
                        }

                        &__prizepool {
                            color: $dark-gray;
                            font-size: 10px;
                            font-weight: 400;
                            margin-bottom: 15px;

                            span {
                                font-weight: 600;
                            }
                        }

                        &__date {
                            color: #4f4f4f;
                            font-size: 10px;
                            font-weight: 300;
                        }
                    }

                    &__a {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        color: #4f4f4f;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                &__btn {
                    color: $light-gray;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 26px auto 0 auto;
                    transition: all .2s;

                    &:hover {
                        opacity: .5;

                    }
                }
            }
        }
    }

    &-ranking {
        padding: 40px 0 45px 0;
        width: 100%;

        table {
            width: 100%;
            border-collapse: collapse;

            thead tr {
                padding: 0 0 20px 0;

                th {
                    color: #f2f2f2;
                    font-family: "Proxima Nova";
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            tbody tr {
                border-radius: 5px;
                background-color: #1e1e1e;
                transition: all .1s;

                &:hover {

                    td {
                        color: #bdbdbd;
                        opacity: 1 !important;
                        transition: all .1s;
                    }

                }

                td {
                    .userblock {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        &-ava {
                            width: 30px;
                            height: 30px;
                            background-color: $orange;
                            border-radius: 50%;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            margin-right: 8px;
                        }

                        &__username {
                            color: $gray;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    color: #bdbdbd7d;
                    font-family: "Proxima Nova";
                    font-size: 15px;
                    font-weight: 400;
                    text-align: center;
                    padding: 15px 0;
                    vertical-align: middle;

                }
            }
        }
    }
}