@import "_reset.scss";

.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4.5% auto;
    position: relative;
}


.sia {
    top: 212px;
    right: -275px;
}

.fia {
    bottom: 115px;
    left: -200px;
}

.tia {
    top: -130px;
    right: -114px;
}

.scap {
    margin: 26px 85px 0 85px;
}



.auth {
    box-shadow: 0 16px 54px 5px rgba(0, 0, 0, 0.16);
    padding: 40px 36px 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: calc(500px - 72px);
    width: 100%;
    z-index: 10;

    &-title {
        color: $primary-purple;
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 44px;
        text-align: center;
    }

    &-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__item {
            width: 100%;
            position: relative;

            &_input {
                outline: none;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid #8e8e8e;
                padding: 17px 17px 17px 0px;
                width: calc(100% - 17px);
                background-repeat: no-repeat;
                background-position: 0 center;
                opacity: 1;
                color: $black;
                font-size: 16px;
                font-weight: 700;

                &::placeholder {
                    color: $gray;
                }

                &_mail {
                    background-image: url(../img/mail.png);
                }

                &_zamok {
                    background-image: url(../img/zamok.png);
                }
            }

            &_recaptcha  {
                margin: 20px 0;
                display: flex;
                justify-content: center;
            }

            &_checkbox {
                margin: 20px 0;
                display: flex;
                align-items: center;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/awp.png);
        background-position: right top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        right: -133px;
        top: -100px;
        z-index: -1;
    }

    &-checkbox {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 42px;
        position: relative;
        margin-bottom: 33px;

        &__input_checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &__input_checkbox+label {
            position: relative;
            padding: 0 0 0 41px;
            cursor: pointer;
            color: $black;
            font-size: 18px;
        }

        &__input_checkbox+label:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;
            border: 1px solid rgba(0, 0, 0, 0.26);
            transition: .2s;
        }

        &__input_checkbox+label:after {
            content: '';
            position: absolute;
            top: -7px;
            left: 0px;
            width: 25px;
            height: 25px;
            transition: .2s;
        }

        &__input_checkbox:checked+label:after {
            background-image: url(../img/Фигура_2.svg);
            background-size: cover;
        }
    }

    &-description {
        &__link {
            color: rgba(255, 153, 51, 0.9);
            margin-left: 10px;
            font-weight: 600;
        }
    }

    &-footer {
        &__text {
            margin-top: 60px;
        }
    }

    &-links {
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__list {
            display: flex;
            align-items: center;
            margin-left: 20px;

            &_item {
                width: 36px;
                margin-right: 5px;
                cursor: pointer;
                transition: $transition-fast;

                &:active {
                    transform: scale(0.95);
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    width: 100%;
                }
            }
        }
    }


}

@media screen and (max-width: 960px) {
    .signup {
        max-width: calc(100% - 72px);

        &:after {
            display: none;
        }
    }
}