@import "_reset.scss";
@import '_variables';
@import "ui.scss";
@import "_container.scss";
@import "panel.scss";


.plus {
    position: relative;
    margin: 0;


    &:before,
    &:after {
        content: "";
        width: 14px;
        height: 2px;
        border-radius: 2px;
        background-color: #5a3c97;
        display: block;
        position: absolute;
        top: 50%;
        transition: all .2s ease-in-out;
        opacity: 1;
        contain: strict;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(-90deg);
        will-change: translate, rotate;
    }

    &:after {
        transform: translate(-50%, -50%);
        will-change: translate, opacity;
    }
}

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 97px;

    &-container {
        margin: 100px auto;
        max-width: 1170px;
    }

    &-answer {
        display: block;
        max-height: 0;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: visible;
    }

    &-text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;

        &__h4 {
            padding-left: 25px;
            color: #010101;
            font-size: 19px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__h1 {
        color: #010101;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 70px;
    }

    &__p {
        color: #010101;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    &-item.open {
        .plus:before {
            transform: translate(-50%, -50%) rotate(-0deg);
            width: 0;
        }

        .faq-answer {
            max-height: 600px;
            opacity: 1;
            visibility: visible;
            margin-bottom: 25px;
        }
    }
}

.label {
    display: block;
    line-height: 1.3;

}

.closed {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    user-select: none;
}

.opener {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #5a3c97;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .faq-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .faq {
        &__h1 {
            text-align: center;
        }

        .opener {
            min-width: 21px;
            min-height: 21px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .faq-container {
        margin: 20px auto;
    }

    .faq {
       padding-top: 0;
    }
}