@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1430px !important; }

button {
  outline: none !important;
  border: none !important; }

body {
  background-image: url(../img/bg.png);
  font-family: 'Inter', sans-serif;
  background-repeat: no-repeat;
  background-size: cover; }

input:focus {
  outline: none; }

.header {
  width: 100%; }
  .header-content {
    max-width: 1133px;
    margin: 0 auto;
    padding: 8px 0; }
    .header-content-logo svg {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .header-content-logo svg:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

.main .about {
  max-width: 1133px;
  margin: 0 auto;
  padding: 23px 0 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main .about-content {
    position: relative; }
    .main .about-content .box {
      position: absolute;
      right: 112px;
      bottom: 40px; }
    .main .about-content__title {
      font-weight: 900;
      font-size: 56px;
      line-height: 68px;
      text-transform: uppercase;
      color: #118976;
      text-shadow: 2px 2px 0px #FFFFFF;
      margin-bottom: 62px;
      width: calc(100% - 43px); }
    .main .about-content .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 49px;
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .main .about-content .row svg path {
        -webkit-transition: fill .3s;
        -o-transition: fill .3s;
        transition: fill .3s; }
      .main .about-content .row:hover svg path {
        fill: #FF272B; }
      .main .about-content .row:last-child {
        margin-bottom: 0; }
    .main .about-content__desc {
      width: 277px;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #333333; }
    .main .about-content svg {
      margin-right: 25px; }
  .main .about-form {
    width: calc(368px - 112px);
    border-radius: 2px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 24px 56px; }
    .main .about-form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .main .about-form__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #333333;
      margin-bottom: 12px; }
    .main .about-form__subtitle {
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FF2C2C;
      margin-bottom: 4px; }
    .main .about-form__price {
      font-weight: 800;
      font-size: 38px;
      line-height: 42px;
      text-align: center;
      color: #FF2C2C;
      margin-bottom: 88px; }
    .main .about-form .nice-select {
      height: 42px;
      width: 254px;
      border: 1px solid #089C84;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 15px 19px 16px 19px;
      margin-bottom: 12px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      outline: none !important; }
    .main .about-form .list {
      position: absolute;
      border-radius: 2px;
      width: 100%;
      top: 92%;
      border: 1px solid #dddddd;
      border-top: none;
      left: -1px;
      right: 0;
      z-index: 20;
      margin-top: 4px;
      padding: 0;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform: scale(0.75) translateY(-21px);
      -ms-transform: scale(0.75) translateY(-21px);
      transform: scale(0.75) translateY(-21px);
      -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out; }
    .main .about-form .current {
      font-size: 14px;
      line-height: 40px;
      color: #333333; }
    .main .about-form .nice-select .list li {
      color: #000;
      font-weight: 400;
      min-height: 42px;
      padding: 0 19px;
      font-weight: 400;
      line-height: 40px;
      font-size: 14px;
      text-align: left;
      list-style: none;
      outline: none;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      border-bottom: 1px solid #f2f2f2; }
    .main .about-form .open .list {
      opacity: 1 !important;
      -webkit-transform: scale(1) translateY(0) !important;
      -ms-transform: scale(1) translateY(0) !important;
      transform: scale(1) translateY(0) !important;
      visibility: visible !important; }
    .main .about-form__input {
      height: 42px;
      width: 254px;
      border: 1px solid #089C84;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 15px 19px 16px 19px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000;
      margin-bottom: 12px;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .main .about-form__input::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #333333; }
      .main .about-form__input:-ms-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #333333; }
      .main .about-form__input::-ms-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #333333; }
      .main .about-form__input::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #333333; }
      .main .about-form__input:focus {
        border: 1px solid #196d5f; }
      .main .about-form__input:last-child {
        margin-bottom: 21px; }
    .main .about-form__btn {
      cursor: pointer;
      width: 254px;
      height: 56px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #FF272B;
      -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 16px;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      .main .about-form__btn:hover {
        -webkit-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5); }
    .main .about-form__hint {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #828282; }

@media screen and (max-width: 1024px) {
  .header-content {
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main .about {
    padding: 23px 15px 44px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main .about-content .box {
    position: static;
    margin-bottom: 74px; }
  .main .about-content__desc {
    font-size: 18px;
    line-height: 24px;
    width: 224px; }
  .main .about-form__title {
    margin-bottom: 44px; }
  .main .about-form__price {
    margin-bottom: 53px; }
  .main .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .about-content__title {
      width: 255px;
      font-size: 32px;
      line-height: 40px;
      text-align: center; } }

@media screen and (max-width: 380px) {
  .main .about-form {
    width: calc(100% - 112px); }
  .main .about-form__subtitle {
    font-size: 19px; }
  .main .about-content__desc {
    width: 100%; } }
